<section class="accordion page-width">
  <h2>Frequently Asked Questions</h2>
  <div class="accordion-item">
    <h3>Is this a question?</h3>
    <div class="accordion-answer">
      <p>
        Yes! This is an answer.
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <h3>Is this also a question?</h3>
    <div class="accordion-answer">
      <p>
        Maybe.
      </p>
    </div>
  </div>
</section>